.eventImage {
    width: 100%;
    height: 100%;
    position: absolute;
}

.doLater {
    position: absolute;
    left: 11%;
    bottom: 28%;
    width: 36%;
    height: 7%;
}

.mobileAuth {
    position: absolute;
    right: 11%;
    bottom: 28%;
    width: 36%;
    height: 7%;
}